- title ["Nashville, TN", "Music"]

.l-constrained
  .m-header
    %h1 Shaker

  .m-links
    %ul
      %li= link_to "Shows", "http://www.facebook.com/shakertheband/events", target: "_blank"
      %li &bull;
      %li= link_to "Music", "https://soundcloud.com/shakershakershaker", target: "_blank"
      %li &bull;
      %li= link_to "Blog", "http://shakershakershaker.tumblr.com/", target: "_blank"
